.App {
  font-family: "Tahoma", sans-serif;
  direction: rtl;
  text-align: center;
  background: #f9f9f9;
  min-height: 100vh;
}
main {
  padding: 30px;
}
h1 {
  color: #0056b3;
  margin-bottom: 20px;
}
