:root {
  --main-color: #301a60;
  --accent-color: #f57e20;
  --light-bg: #faf7fd;
  --border-color: #ddd;
}

body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  direction: rtl;
  background: var(--light-bg);

}

.header-spacer {
    height: 70px;
}


